{% extends 'base.html.twig' %}
{% block title %}Voyages!{% endblock %}


{% block body %}
    <div class="jumbotron text-center">
        <h1>listes des itinairaire</h1>
        <p>Bienvenue sur notre site , nous esperons que .......</p></div>

    <div class='container'>

    </div>

{% endblock %}
